@import './styles/variables.css';
@import './styles/main.css';
@import './components/navbar/navbar.css';
@import './components/bat-sections/bat-sections.css';
@import './components/footer/footer.css';

/* Custom scroll root adjustments */
#scroll-root {
  height: 100svh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: var(--color-bg);
}
